.user-profile {
    padding: 3rem 10%;
}

.user-profile .content {
    background: var(--light-bg);
    padding: 3rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    margin-top: 2rem;
}

.user-profile h2 {
    font-size: 3.5rem;
    color: var(--black);
    margin-bottom: 2rem;
}

.user-profile p {
    font-size: 2rem;
    color: var(--light-black);
    line-height: 2;
}

.user-profile button {
    background: var(--main-color);
    color: var(--white);
    font-size: 2rem;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    transition: background-color 0.3s ease;
}

.user-profile button:hover {
    background: #6b2c7c; /* Darken the main color on hover */
}

.footer {
    background: url(../img/footer.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 5rem; /* Adjust margin for better visibility */
}

.footer .box-container .box h3,
.footer .box-container .box a {
    color: var(--white);
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.footer .box-container .box a i {
    color: var(--main-color);
    padding-right: 0.5rem;
    transition: padding-right 0.2s linear;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: 0.1rem solid var(--light-white);
    font-size: 2rem;
    color: var(--white);
}

.footer .credit span {
    color: var(--main-color);
}
